.jumbotron {
  padding-top: 2rem;
  background-color: #b5ada2;
}

#projects {
  background-color: #b5ada2;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: #65544e;
}

.list {
  list-style: none;
  text-align: center;
}

.link {
  display: inline-block;
  margin-block: 2px;
  text-decoration: none;
  position: relative;
}

.link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}
.link:hover::after {
  transform: scaleX(1);
}

.icon {
  display: inline-block;
  animation: float 5s ease-in-out infinite;
  color: white;
  font: 44px;
}

.bi-facebook {
  animation-delay: 1s;
}
.bi-instagram {
  animation-delay: 2s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
